{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "app/homeCss.css"%}">
    <link rel="stylesheet" href="{% static "app/toast.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>

<body>
    <a href="https://zalo.me/0925931331" target="_blank" class="foot_zalo">
        <img src="https://sua.vn/themes/sua/images/zalo.png">
    </a>
    <header>
        <div class="header_top">
            <div class="img_km">
                <a href="{% url "home" %}">
                    <img src="/static/img/backgroud_1.png" alt="Ảnh chương trình khuyến mãi">
                </a>
            </div>
        </div>
        <div class="container_header" >
            <div class="container_header_top">
                <div class="logo">
                    <a href="{% url "home" %}">
                        <img src="/static/img/Logo.png" alt="MILK SHOP" style="height: 60px;">
                    </a>
                </div>
                <div class="search" style="position: relative;">
                    <input type="text" id="search-box" placeholder="Tìm sản phẩm" class="input_search">
                    <i class="fa fa-search"></i>
                    <div id="search-suggestions" class="suggestions"></div> 
                </div>
                <div class="list_Function">
                    <div class="item_list_Function"  onclick = "showCart()">
                        <span style="background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/cart-top.png);     
                        width: 25px;
                        height: 25px;
                        background-size: contain;"></span>
                        <a href="{% url "giohang" %}">
                            <div class="tb_gio_hang">
                                <span style="font-weight: 600; color: red;" id="valueGioHang">0</span>
                            </div>
                        </a>
                    </div>
                    <div class="item_list_Function">
                        <a href="{% url "kiemtradonhang" %}">
                            <span>Kiểm tra đơn hàng</span>
                        </a>
                    </div>
                    <div class="item_list_Function">
                        {% if user.is_authenticated %}
                        <span style="height: 25px;
                        width: 22px;
                        background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/customer-login.png) center center no-repeat;
                        background-size: contain;"></span>
                        <a href="#" style="text-decoration: none; color: black;"> 
                            <div class="header__bars_1">
                                <span>Xin chào, {{ user.username }}</span>
                                <div class="menu_content_1">
                                    <ul>
                                        <li>
                                            <a href="{% url 'hoso' %}">
                                                <i class="fa fa-user-o"></i>
                                                <span>Hồ sơ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-sign-out"></i>
                                                <span>Đăng xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>  
                        </a>
                        {% else %}
                        <span style="height: 25px;
                        width: 22px;
                        background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/customer-login.png) center center no-repeat;
                        background-size: contain;"></span>
                        <a href="{% url 'login' %}" style="text-decoration: none; color: black;"> 
                            <div class="header__bars_1">
                                <span>Đăng nhập</span>
                            </div>  
                        </a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            <div class="container_header_bottom">
                <div class="header__danhmuc">
                    <div class="header__bars">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                        <div class="menu_content">
                            <ul >
                                <li >
                                    <div class="noidungmenu">
                                        <a href="{% url "muahang" %}">SỮA BỘT DINH DƯỠNG</a>
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div>
                                    

                                </li>
                                <li >
                                    <div class="noidungmenu">
                                        <a href="{% url "muahang" %}">TÃ BỈM CHO BÉ</a>
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__menu">
                        <ul>
                            <li>
                                <a href="{% url "home" %}">Trang chủ</a>
                            </li>

                            <li>
                                <a href="{% url "muahang" %}">Mua hàng</a>
                            </li>

                            <li>
                                <a href="{% url "kienthuc" %}">Kiến thức</a>
                            </li>

                            <li>
                                <a href="{% url "khuyenmai" %}">Khuyến mãi</a>
                            </li>

                            <li>
                                <a  href="{% url "doiqua" %}">Đổi quà</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main >
        
        <div class="container_body">
            <a href="#">
                <img src="/static/img/slide.jpg" alt="Lỗi hiển thị" class="zoomed">
            </a>
        </div>
        <div class="container_flashsale">
            <div class="logo_sale">
                <img style="max-width: 150px; padding: 4px 50px;" src="/static/img/flash-sale.png" alt="Ảnh sale">
            </div>
            <div class="list_products" id = "products_fashsale">
                
            </div>
        </div>
        <div class="container_spBanChay">
            <div class="icon_spBanChay">
                <a href="#"> 
                    <img style="width: 1140px;" src="/static/img/spbanchay.jpg" alt="Sản phẩm bán chạy">
                </a>
            </div>
            <div class="list_products_1" id = "products_banchay">
                
            </div>
        </div>
        <div class="container_ngoaispban">
            <div class="container_spBan">
                <div class="icon_spBanChay">
                    <a href="#"> 
                        <img style="width: 1140px; border-radius: 5px;" src="/static/img/anh_mua.jpg" alt="Sản phẩm bán chạy">
                    </a>
                </div>
                <div class="list_products_1" id = "products_ban">
                    
                </div>
                
                <div class="button_mua">
                    <a class="c-btn" href="{% url "muahang" %}">
                        <span>Xem tất cả</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container_voucher">
            <div class="titlekm">
                <span>Chương trình khuyến mãi</span>
            </div>
            <div class="listkm">
                <div class="listItemKm" id = "ct_Khuyen_Mai">
                    
                </div>
                <div class="button_mua">
                    <a class="c-btn" href="{% url "khuyenmai" %}">
                        <span>Xem tất cả</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container_KienThuc">
            <div class="backgroudKt">
                <img src="/static/img/kienthuc.jpg">
            </div>
            <div class="list_kien_thuc">
                <div class="item_kien_thuc">
                    <div class="conten_kienthuc">
                        <a href="https://dantri.com.vn/suc-khoe/bi-quyet-nuoi-con-cao-lon-cua-nguoi-nhat-20220405235701665.htm" target="_blank">
                            <div class="anh_kienthuc">
                                <img src="/static/img/anhkm1.jpeg" alt="Bí quyết nuôi con cao lớn của người Nhật">
                            </div>
                            <span class="glock-title">Bí quyết nuôi con cao lớn của người Nhật</span>
                        </a>
                    </div>
                </div>
                <div class="item_kien_thuc">
                    <div class="conten_kienthuc">
                        <a href="https://infonet.vietnamnet.vn/du-ban-ron-den-dau-cha-me-cung-khong-nen-cho-tre-an-nhung-thuc-pham-nay-vao-buoi-sang-277499.html" target="_blank">
                            <div class="anh_kienthuc">
                                <img src="/static/img/kt2.jpg" alt="Thực phẩm không nên ăn vào buổi sáng">
                            </div>
                            <span class="glock-title">Dù bận rộn đến đâu, cha mẹ cũng không nên cho trẻ ăn những thực phẩm này vào buổi sáng</span>
                        </a>
                    </div>
                </div>
                <div class="item_kien_thuc">
                    <div class="conten_kienthuc">
                        <a href="https://www.vinmec.com/vie/bai-viet/nhan-biet-chuong-bung-day-hoi-o-tre-em-vi" target="_blank">
                            <div class="anh_kienthuc">
                                <img src="/static/img/kt3.jpg" alt="Dấu hiệu trẻ bị đầy bụng, khó tiêu">
                            </div>
                            <span class="glock-title">Nếu trẻ có 4 biểu hiện bất thường này chứng tỏ trẻ đang bị đầy bụng và khó tiêu</span>
                        </a>
                    </div>
                </div>
                <div class="item_kien_thuc">
                    <div class="conten_kienthuc">
                        <a href="https://nhatban.vn/thuc-pham-bo-nao-cho-tre-em/" target="_blank">
                            <div class="anh_kienthuc">
                                <img src="/static/img/kt4.jpg" alt="Thực phẩm bổ não cho trẻ">
                            </div>
                            <span class="glock-title">10 thực phẩm bổ não, tăng cường trí nhớ</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="button_mua">
                <a class="c-btn" href="{% url "kienthuc" %}">
                    <span>Xem tất cả tin tức</span>
                </a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container_footer">
            <div class="grid">
                <div class="section">
                    <h3>Giới thiệu về chúng tôi</h3>
                    <ul>
                        <li><a href="#">Cửa hàng của chúng tôi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Nhãn hàng</a></li>
                        <li><a href="#">Tặng quà</a></li>
                    </ul>
                </div>
    
                <div class="section newsletter">
                    <h3>Đăng ký nhận bản tin của chúng tôi để nhận thông báo và các chương trình khuyến mãi khác</h3>
                    <div class="form-container">
                        <input type="email" placeholder="Email address...">
                        <button>Subscribe</button>
                    </div>
                </div>
    
                <div class="section"  style="padding-left: 90px;">
                    <h3>Dịch vụ khách hàng</h3>
                    <ul>
                        <li><a href="#">Câu hỏi thường gặp</a></li>
                        <li><a href="#">Định vị cửa hàng</a></li>
                        <li><a href="#">Trả lại</a></li>
                        <li><a href="#">Thông tin vận chuyển</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="footer-bottom">
                <p>Copyright &copy; 2024. All Right Reserved</p>
            </div>
        </div>
    </footer>
    <div id="toast"></div>
    <div id="promotionModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border-radius: 5px;">
        <h2 id="promoTitle"></h2>
        <p id="promoDescription"></p>
        <div style= "text-align: center; margin-top: 10px;">
            <button id="closeModal">Đóng</button>
        </div>
    </div>
    <div id="modalBackdrop" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    

</body>

</html>