{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "app/css/muahang.css" %}">
</head>
<body style="background: #F5F7FD;">
    <header>
        <div class="header_top">
            <div class="img_km">
                <a href="{% url 'home' %}">
                    <img src="/static/app/img/backgroud_1.png" alt="Ảnh chương trình khuyến mãi">
            </div>
        </div>
        <div class="container_header" >
            <div class="container_header_top">
                <div class="logo">
                    <a href="{% url 'home' %}">
                    <img src="/static/app/img/Logo.png" alt="MILK SHOP" style="height: 60px;">
                </a>

                </div>
                <div class="search" style="position: relative;">
                    <input type="text" placeholder="Tìm sản phẩm" class="input_search">
                    <i class="fa fa-search"></i>
                </div>
                <div class="list_Function">
                    <div class="item_list_Function">
                        <span style="background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/cart-top.png);     
                        width: 25px;
                        height: 25px;
                        background-size: contain;"></span>
                        <a href="{% url 'giohang' %}">
                            <p>Giỏ hàng </p>
                         </a>
                    </div>
                    <div class="item_list_Function">
                        <a href="{% url 'kiemtradonhang' %}">
                        <span>Kiểm tra đơn hàng</span>
                    </div>
                    <div class="item_list_Function">
                        <span style="height: 25px;
                        width: 22px;
                        background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/customer-login.png) center center no-repeat;
                        background-size: contain;"></span>
                        <a href="{% url 'login' %}" style="text-decoration: none; color: black;"> Đăng nhập </a>
                    </div>
                </div>
            </div>
            <div class="container_header_bottom">
                <div class="header__danhmuc">
                    <div class="header__bars">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                    </div>
                    <div class="header__menu">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Trang chủ</a>
                            </li>

                            <li>
                                <a href="{% url 'muahang' %}">Mua hàng</a>
                            </li>
                            
                            <li>
                                <a href="{% url 'kienthuc' %}">Kiến thức</a>
                            </li>

                            <li>
                                <a href="{% url 'khuyenmai' %}">Khuyến mãi</a>
                            </li>

                            <li>
                                <a target="_blank" href="{% url 'doiqua' %}">Đổi quà</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>  
        <div class="container_main">
            <div class="icon_spBanChay">
                <a href="#"> 
                    <img style="width: 1140px; border-radius: 5px;" src="/static/app/img/anh_mua.jpg" alt="Sản phẩm bán chạy">
                </a>
            </div>
        </div>
        <div class="container_nhanvoucher">
            <div class="modau">
                <p>Nhận Voucher</p>
            </div>
            <div class="listvoucher">
                <div class="itemvoucher">
                    <div class="voucher_header">
                        <span>50.000đ</span>
                        <div class="thongtin">
                            <p>Cho đơn hàng online từ</p>
                            <p>600k</p>
                        </div>
                    </div>
                    <div class="voucher_footer">
                        <p>NOBIKO</p>
                        <span style="color: #ae0258; font-size: 11px;">Mã dành cho NEOCARE</span>
                        <div class="tile1">
                            <span style="color: #ae0258; font-size: 11px;">Đến ngày 07/04</span>
                            <div class="tile2">
                                <button style="border: none; background: none; color: white;">MILKSUA30</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemvoucher">
                    <div class="voucher_header">
                        <span>40.000đ</span>
                        <div class="thongtin">
                            <p>Cho đơn hàng online từ</p>
                            <p>350k</p>
                        </div>
                    </div>
                    <div class="voucher_footer">
                        <p>NOBIKO</p>
                        <span style="color: #ae0258; font-size: 11px;">Mã dành cho NEOCARE</span>
                        <div class="tile1">
                            <span style="color: #ae0258; font-size: 11px;">Đến ngày 11/04</span>
                            <div class="tile2">
                                <button style="border: none; background: none; color: white;">MILKSUA90</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemvoucher">
                    <div class="voucher_header">
                        <span>150.000đ</span>
                        <div class="thongtin">
                            <p>Cho đơn hàng online từ</p>
                            <p>1600k</p>
                        </div>
                    </div>
                    <div class="voucher_footer">
                        <p>NOBIKO</p>
                        <span style="color: #ae0258; font-size: 11px;">Mã dành cho NEOCARE</span>
                        <div class="tile1">
                            <span style="color: #ae0258; font-size: 11px;">Đến ngày 07/04</span>
                            <div class="tile2">
                                <button style="border: none; background: none; color: white;">MILKSUA150</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_thuonghieu">
            <div class="modau">
                <p>Thương Hiệu</p>
            </div>
            <div class="thuonghieu-km">
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1724812449.nv.png" title="NOBIKO">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098604.nv.png" title="TH True Milk">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1718600245.nv.png" title="NEOCARE">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098575.nv.png" title="DELIMAX">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714097679.nv.png" title="ENFA">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098499.nv.png" title="Little Étoile">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1730777761.nv.png" title="DIASURE">
                        </a>
                    </div>
                </div>
            </div>
            <div class="thuonghieu-km">
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1724812449.nv.png" title="NOBIKO">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098604.nv.png" title="TH True Milk">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1718600245.nv.png" title="NEOCARE">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098575.nv.png" title="DELIMAX">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714097679.nv.png" title="ENFA">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1714098499.nv.png" title="Little Étoile">
                        </a>
                    </div>
                </div>
                <div class="col-md-1" style="padding:0 5px">
                    <div class="zcatpic">
                        <a href="#">
                            <img src="https://sua.vn/uploads/shop/category/1730777761.nv.png" title="DIASURE">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_spban">
            <div class="list_products_1">
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="/static/app/img/suabot1.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Ensure Gold 850g hương hạnh nhân
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">890.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">940.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 13%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730519403.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa bầu Morinaga E-Okasan vị trà sữa 800g 
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">550.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">630.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 8%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1728373943.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Similac Total Protection 1+ 850g (1 - 2 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">595.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">645.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 40%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730521533.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa tăng chiều cao Hiup 650gr (cho bé 3 - 18 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">535.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">890.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 6%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1663754217.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Nan InfiniPro A2 số 3 800g cho bé 2-6 tuổi
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">580.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">615.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1686023151.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Pediasure B/A 1kg6 (1-10t) Mẫu mới
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">1.140.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">1.090.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_products_1">
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="/static/app/img/suabot1.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Ensure Gold 850g hương hạnh nhân
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">890.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">940.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 13%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730519403.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa bầu Morinaga E-Okasan vị trà sữa 800g 
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">550.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">630.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 8%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1728373943.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Similac Total Protection 1+ 850g (1 - 2 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">595.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">645.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 40%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730521533.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa tăng chiều cao Hiup 650gr (cho bé 3 - 18 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">535.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">890.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 6%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1663754217.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Nan InfiniPro A2 số 3 800g cho bé 2-6 tuổi
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">580.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">615.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1686023151.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Pediasure B/A 1kg6 (1-10t) Mẫu mới
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">1.140.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">1.090.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_products_1">
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="/static/app/img/suabot1.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Ensure Gold 850g hương hạnh nhân
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">890.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">940.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 13%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730519403.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa bầu Morinaga E-Okasan vị trà sữa 800g 
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">550.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">630.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 8%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1728373943.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Similac Total Protection 1+ 850g (1 - 2 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">595.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">645.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 40%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1730521533.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa tăng chiều cao Hiup 650gr (cho bé 3 - 18 tuổi)
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">535.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">890.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 6%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1663754217.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Nan InfiniPro A2 số 3 800g cho bé 2-6 tuổi
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">580.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">615.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="inside-flas-isspbc" style="position: relative;">
                        <div class="home-sua-percent">
                            <span>- 5%</span>
                        </div>
                        <a style="text-decoration: none;" href="#">
                            <div class="flashsale-pic">
                                <img src="https://sua.vn/uploads/shop/pic/small_1686023151.nv.jpg">
                            </div>
                            <div class="flashsale-title">Sữa Pediasure B/A 1kg6 (1-10t) Mẫu mới
                            </div>
                        </a>
                        <div>
                            <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                <div class="col-md-6 paddL0">
                                    <div class="sales-price">1.140.000<sup>đ</sup></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="sales-root">1.090.000<sup>đ</sup></div>
                                </div>
                            </div>
                            <div class="chonmua_buy_fast">
                                <a href="#">Chọn mua</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <ul class="pagination">
                  <!-- Nút Previous -->
                  <li>
                    <button class="pagination-btn">
                      <img src="/static/app/img/ico_chevron_left.png" alt="Previous">
                    </button>
                  </li>
            
                  <!-- Trang 1 -->
                  <li>
                    <a class="pagination-link active" href="#none">1</a>
                  </li>
            
                  <!-- Trang 2 -->
                  <li>
                    <a class="pagination-link" href="#none">2</a>
                  </li>
            
                  <!-- Trang 3 -->
                  <li>
                    <a class="pagination-link" href="#none">3</a>
                  </li>
            
                  <!-- Trang 4 -->
                  <li>
                    <a class="pagination-link" href="#none">4</a>
                  </li>
            
                  <!-- Nút Next -->
                  <li>
                    <button class="pagination-btn">
                      <img src="/static/app/img/ico_chevron_right.png" alt="Next">
                    </button>
                  </li>
                </ul>
              </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container_footer">
            <div class="grid">
                <div class="section">
                    <h3>Giới thiệu về chúng tôi</h3>
                    <ul>
                        <li><a href="#">Cửa hàng của chúng tôi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Nhãn hàng</a></li>
                        <li><a href="#">Tặng quà</a></li>
                    </ul>
                </div>
    
                <div class="section newsletter">
                    <h3>Đăng ký nhận bản tin của chúng tôi để nhận thông báo và các chương trình khuyến mãi khác</h3>
                    <div class="form-container">
                        <input type="email" placeholder="Email address...">
                        <button>Subscribe</button>
                    </div>
                </div>
    
                <div class="section"  style="padding-left: 90px;">
                    <h3>Dịch vụ khách hàng</h3>
                    <ul>
                        <li><a href="#">Câu hỏi thường gặp</a></li>
                        <li><a href="#">Định vị cửa hàng</a></li>
                        <li><a href="#">Trả lại</a></li>
                        <li><a href="#">Thông tin vận chuyển</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="footer-bottom">
                <p>Copyright &copy; 2024. All Right Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>