{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chi_tiet_sp</title>
    <link rel="stylesheet" href="{% static "app/chitietsp.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <a class="phone_backtotop" title="Gọi ngay  0123456789" href="tel: 0123456789">
        <img src="https://sua.vn/themes/sua/images/phone_backtotop.png">
    </a>
    <a href="#" target="_blank" class="foot_zalo">
        <img src="https://sua.vn/themes/sua/images/zalo.png">
    </a>
    <header>
        <div class="header_top">
            <div class="img_km">
                <a href="{% url "home" %}">
                    <img src="/static/img/backgroud_1.png/" alt="Ảnh chương trình khuyến mãi">
                </a>
            </div>
        </div>
        <div class="container_header" >
            <div class="container_header_top">
                <div class="logo">
                    <a href="{% url "home" %}">
                        <img src="/static/img/Logo.png" alt="MILK SHOP" style="height: 60px;">
                    </a>
                </div>
                <div class="search" style="position: relative;">
                    <input type="text" placeholder="Tìm sản phẩm" class="input_search">
                    <i class="fa fa-search"></i>
                </div>
                <div class="list_Function">
                    <div class="item_list_Function">
                        <span style="background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/cart-top.png);     
                        width: 25px;
                        height: 25px;
                        background-size: contain;"></span>
                        <a href="{% url "giohang" %}">
                            <div class="tb_gio_hang">
                                <span style="font-weight: 600; color: red;">0</span>
                            </div>
                        </a>
                    </div>
                    <div class="item_list_Function">
                        <a href="{% url "kiemtradonhang" %}">
                            <span>Kiểm tra đơn hàng</span>
                        </a>
                    </div>
                    <div class="item_list_Function">
                        <span style="height: 25px;
                        width: 22px;
                        background: url(https://cdn1.concung.com/themes/desktop4.1/image/v40/icon/customer-login.png) center center no-repeat;
                        background-size: contain;"></span>
                        <a href="{% url "login" %}" style="text-decoration: none; color: black;"> 
                            <div class="header__bars_1">
                                <span>Đăng nhập</span>
                                <div class="menu_content_1">
                                    <ul >
                                        <li >
                                            <a href="{% url "hoso" %}">
                                                <i class="fa fa-user-o"></i>
                                                <span>Hồ sơ</span>
                                            </a>
                                        </li>
                                        <li >
                                            <a href="#">
                                                <i class="fa fa-sign-out"></i>
                                                <span>Đăng xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>  
                        </a>
                    </div>
                </div>
            </div>
            <div class="container_header_bottom">
                <div class="header__danhmuc">
                    <div class="header__bars">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                        <div class="menu_content">
                            <ul >
                                <li >
                                    <div class="noidungmenu">
                                        <a href="{% url "muahang" %}">SỮA BỘT DINH DƯỠNG</a>
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div>
                                    

                                </li>
                                <li >
                                    <div class="noidungmenu">
                                        <a href="{% url "muahang" %}">TÃ BỈM CHO BÉ</a>
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__menu">
                        <ul>
                            <li>
                                <a href="{% url "home" %}">Trang chủ</a>
                            </li>

                            <li>
                                <a href="{% url "muahang" %}">Mua hàng</a>
                            </li>

                            <li>
                                <a href="{% url "kienthuc" %}">Kiến thức</a>
                            </li>

                            <li>
                                <a href="{% url "khuyenmai" %}">Khuyến mãi</a>
                            </li>

                            <li>
                                <a  href="{% url "doiqua" %}">Đổi quà</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container_chi_tiet">
            <div class="container_chi_tiet_contens">
                <div class="left_container_chi_tiet">
                    <div class="khung_anh">
                        <div class="anh">
                            <img src="https://sua.vn/uploads/shop/pic/1719475078_421837400_1350838775595600_7726488782794726388_n.jpg" alt="Lỗi hiển thị">
                        </div>
                    </div>
                    <div class="bottomleft_container_chi_tiet">
                        <div class="list_anh">
                            <img src="https://sua.vn/uploads/shop/pic/1651135331.nv.jpg">
                            <img src="https://sua.vn/uploads/shop/pic/1719475134_421848344_1350838728928938_272297635713709358_n.jpg">
                            <img src="https://sua.vn/uploads/shop/pic/1719475134_421849053_1350838695595608_8669088565266642701_n.jpg">
                            <img src="https://sua.vn/uploads/shop/pic/1719475078_421837400_1350838775595600_7726488782794726388_n.jpg">
                        </div>
                    </div>
                </div>
                <div class="right_container_chi_tiet">
                    <div class="tiltle_sp">
                        <div class="details-titleshop">Sữa Tăng Chiều Cao Nobiko Nhập Khẩu Nhật Bản, Cho Trẻ 2 Đến 16 Tuổi</div>
                        <div class="details-masp">Mã sản phầm: NOKITOA01</div>
                        <div class="trangthai">
                            Trạng thái: <span>Còn hàng</span>
                        </div>
                        <div class="gia_sp">
                            1.160.000 VND
                            <span>1.230.000 VND</span>
                        </div>
                        <div class="nd">
                            <p>Công thức vượt trội chứa canxi hữu cơ từ tảo biển Nhật Bản và Vitamin D3  giúp trẻ phát triển toàn diện về chiều cao, thể chất và trí thông minh</p>
                        </div>
                        <div class="box-promo posR">

                            <p class="box-promo-txt">Khuyến mãi</p><ul class="box-promo-list">
                                <li class="divb_t2">
                                    Nhập mã <span class="colsua">FSHIP1</span> giảm đến 50.000đ  khi mua hàng online.
                                </li>
                            </ul>
                        </div>
                        <div class="details-pay">
					
                            <a href="#">
                                <img src="/static/img/muangay.jpg">
                            </a>
        
                            --- Hoặc ---
        
                            <a href="#" >
                                <img src="/static/img/ThemVaoGioHang.jpg">
                            </a>
        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container_tt">
            <div class="titlekm">
                <span>Thông tin sản phẩm </span>
            </div>
            <div class="table-container">
                <table>
                    
                    <tbody>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <td>Sữa Tăng Chiều Cao Nobiko Nhập Khẩu Nhật Bản, Cho Trẻ 2 Đến 16 Tuổi</td>
                            
                        </tr>
                        <tr>
                            <th>Thương hiệu</th>
                            <td>NOBIKO</td>
                            
                        </tr>
                        <tr>
                            <th>Xuất xứ thương hiệu</th>
                            <td>Việt Nam</td>
                            
                        </tr>
                        <tr>
                            <th>Sản xuất tại</th>
                            <td>Việt Nam</td>
                            
                        </tr>
                        <tr>
                            <th>Trọng lượng sản phẩm</th>
                            <td>1 gói 5g</td>
                            
                        </tr>
                        <tr>
                            <th>Độ tuổi phù hợp</th>
                            <td>Tất cả trẻ em từ 2 – 16 tuổi</td>
                            
                        </tr>
                        <tr>
                            <th>Nhà sản xuất</th>
                            <td>NOKIKO</td>
                            
                        </tr>
                        <tr>
                            <th>Hướng dẫn sử dụng</th>
                            <td>. Trẻ từ 2-9 tuổi uống 1 gói mỗi ngày.
                                <br>
                                . Trẻ từ 10-16 tuổi uống 2 gói mỗi ngày.
                                <br>
                                . Mẹ pha 1 gói sữa tăng chiều cao của Nhật Nobiko với 100ml nước hoặc pha thêm cùng với sữa tươi để tăng hương vị và cho bé uống hàng ngày.</td>
                            
                        </tr>
                        <tr>
                            <th>Hướng dẫn bảo quản</th>
                            <td>. Đậy kín sau mỗi lần sử dụng.<br>
                                . Để nơi thoáng mát và khô ráo.<br>
                                . Không bảo quản trong tủ lạnh.<br>
                                . Nên sử dụng trong vòng 3 tuần sau khi mở bao bì
                                .<br>
                                Lưu ý:<br>
                                . Chỉ dùng tối đa trong vòng 1 giờ và phần dư phải đổ bỏ.
                                <br>
                                . Chỉ sử dụng muỗng có trong hộp<br>
                                . Pha đúng lượng như hướng dẫn.<br>
                                . Sử dụng ít hoặc nhiều hơn có thể làm ảnh hưởng đến sức khỏe trẻ.
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="container_chi_tiet">
            <div class="titlekm">
                <span>Sản phẩm liên quan </span>
            </div>
            <div class="list_products_1">
                <div class="item_products">
                    <div class="contens_sp">
                        <div class="inside-flas-isspbc" style="position: relative;">
                            <div class="home-sua-percent">
                                <span>- 5%</span>
                            </div>
                            <a style="text-decoration: none;" href="#">
                                <div class="flashsale-pic">
                                    <img src="/static/img/suabot1.jpg">
                                </div>
                                <div class="flashsale-title">Sữa Ensure Gold 850g hương hạnh nhân
                                </div>
                            </a>
                            <div>
                                <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                    <div class="col-md-6 paddL0">
                                        <div class="sales-price">890.000<sup>đ</sup></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sales-root">940.000<sup>đ</sup></div>
                                    </div>
                                </div>
                                <div class="chonmua_buy_fast">
                                    <a href="#">Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item_products">
                    <div class="contens_sp">
                        <div class="inside-flas-isspbc" style="position: relative;">
                            <div class="home-sua-percent">
                                <span>- 8%</span>
                            </div>
                            <a style="text-decoration: none;" href="#">
                                <div class="flashsale-pic">
                                    <img src="https://sua.vn/uploads/shop/pic/small_1728373943.nv.jpg">
                                </div>
                                <div class="flashsale-title">Sữa Similac Total Protection 1+ 850g (1 - 2 tuổi)
                                </div>
                            </a>
                            <div>
                                <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                    <div class="col-md-6 paddL0">
                                        <div class="sales-price">595.000<sup>đ</sup></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sales-root">645.000<sup>đ</sup></div>
                                    </div>
                                </div>
                                <div class="chonmua_buy_fast">
                                    <a href="#">Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item_products">
                    <div class="contens_sp">
                        <div class="inside-flas-isspbc" style="position: relative;">
                            <div class="home-sua-percent">
                                <span>- 40%</span>
                            </div>
                            <a style="text-decoration: none;" href="#">
                                <div class="flashsale-pic">
                                    <img src="https://sua.vn/uploads/shop/pic/small_1730521533.nv.jpg">
                                </div>
                                <div class="flashsale-title">Sữa tăng chiều cao Hiup 650gr (cho bé 3 - 18 tuổi)
                                </div>
                            </a>
                            <div>
                                <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                    <div class="col-md-6 paddL0">
                                        <div class="sales-price">535.000<sup>đ</sup></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sales-root">890.000<sup>đ</sup></div>
                                    </div>
                                </div>
                                <div class="chonmua_buy_fast">
                                    <a href="#">Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="item_products">
                    <div class="contens_sp">
                        <div class="inside-flas-isspbc" style="position: relative;">
                            <div class="home-sua-percent">
                                <span>- 6%</span>
                            </div>
                            <a style="text-decoration: none;" href="#">
                                <div class="flashsale-pic">
                                    <img src="https://sua.vn/uploads/shop/pic/small_1663754217.nv.jpg">
                                </div>
                                <div class="flashsale-title">Sữa Nan InfiniPro A2 số 3 800g cho bé 2-6 tuổi
                                </div>
                            </a>
                            <div>
                                <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                    <div class="col-md-6 paddL0">
                                        <div class="sales-price">580.000<sup>đ</sup></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sales-root">615.000<sup>đ</sup></div>
                                    </div>
                                </div>
                                <div class="chonmua_buy_fast">
                                    <a href="#">Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="item_products">
                    <div class="contens_sp">
                        <div class="inside-flas-isspbc" style="position: relative;">
                            <div class="home-sua-percent">
                                <span>- 5%</span>
                            </div>
                            <a style="text-decoration: none;" href="#">
                                <div class="flashsale-pic">
                                    <img src="https://sua.vn/uploads/shop/pic/small_1686023151.nv.jpg">
                                </div>
                                <div class="flashsale-title">Sữa Pediasure B/A 1kg6 (1-10t) Mẫu mới
                                </div>
                            </a>
                            <div>
                                <div class="title_gia" style="display: flex; margin-bottom: 5px;">
                                    <div class="col-md-6 paddL0">
                                        <div class="sales-price">1.140.000<sup>đ</sup></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="sales-root">1.090.000<sup>đ</sup></div>
                                    </div>
                                </div>
                                <div class="chonmua_buy_fast">
                                    <a href="#">Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container_footer">
            <div class="grid">
                <div class="section">
                    <h3>Giới thiệu về chúng tôi</h3>
                    <ul>
                        <li><a href="#">Cửa hàng của chúng tôi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Nhãn hàng</a></li>
                        <li><a href="#">Tặng quà</a></li>
                    </ul>
                </div>
    
                <div class="section newsletter">
                    <h3>Đăng ký nhận bản tin của chúng tôi để nhận thông báo và các chương trình khuyến mãi khác</h3>
                    <div class="form-container">
                        <input type="email" placeholder="Email address...">
                        <button>Subscribe</button>
                    </div>
                </div>
    
                <div class="section"  style="padding-left: 90px;">
                    <h3>Dịch vụ khách hàng</h3>
                    <ul>
                        <li><a href="#">Câu hỏi thường gặp</a></li>
                        <li><a href="#">Định vị cửa hàng</a></li>
                        <li><a href="#">Trả lại</a></li>
                        <li><a href="#">Thông tin vận chuyển</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="footer-bottom">
                <p>Copyright &copy; 2024. All Right Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>